In [1]:
import pandas as pd
import numpy as np
import os
from scipy import stats

In [2]:
os.getcwd()

'C:\\Users\\Tom Joseph'

In [3]:
os.chdir('C:\\Users\\Tom Joseph\\Downloads')

In [4]:
df = pd.read_excel('test_data.xlsx')

In [5]:
df.head()

             DateTime  Duration  Member Code     Page
0 2018-09-05 10:04:00       8.0        17016     Home
1 2018-09-01 17:42:00       1.0        14942     Home
2 2018-09-07 04:16:00      13.5        17630  Deposit
3 2018-09-01 03:33:00       5.0        11079     Home
4 2018-09-03 04:44:00      12.0        13596     Play

In [6]:
# first and 5th visit of every day every member
df.sort_values(by='DateTime',ascending=True,inplace=True)
df['visit_num'] = df.groupby(['Member Code']).cumcount()+1
first_and_fifth_visit = df[(df['visit_num']==1) | (df['visit_num']==5)]
first_and_fifth_visit.sort_values('Member Code',ascending=True).groupby('Member Code').head()

               DateTime  Duration  Member Code      Page  visit_num
712 2018-09-01 18:14:00       4.5        10340   Deposit          5
86  2018-09-01 06:31:00       3.0        10340      Home          1
584 2018-09-01 17:12:00       4.5        10785   Deposit          5
963 2018-09-01 02:47:00       3.0        10785   Deposit          1
648 2018-09-01 11:22:00       2.0        11038      Home          5
73  2018-09-01 05:00:00      10.8        11038  Withdraw          1
98  2018-09-01 05:00:00       8.0        11079      Home          5
110 2018-09-01 01:53:00       7.0        11079      Home          1
773 2018-09-01 14:28:00       6.0        12063      Home          5
798 2018-09-01 01:53:00       7.5        12063   Deposit          1
280 2018-09-01 10:42:00      10.0        12846   Journal          5
911 2018-09-01 00:58:00      10.5        12846   Deposit          1
583 2018-09-01 10:38:00       8.0        13390      Home          5
314 2018-09-01 05:31:00       5.0        13390      Home          1
498 2018-09-01 11:19:00      15.0        13596      Play          5
348 2018-09-01 00:01:00       3.0        13596      Home          1
778 2018-09-02 14:15:00      12.0        13769   Deposit          5
718 2018-09-01 13:03:00       2.0        13769   Journal          1
324 2018-09-01 01:46:00       7.5        14942   Deposit          1
517 2018-09-01 09:28:00       6.0        14942      Home          5
709 2018-09-01 01:45:00       1.8        15143  Withdraw          1
46  2018-09-01 11:04:00       7.2        15143  Withdraw          5
24  2018-09-03 04:21:00       5.0        15938      Home          5
330 2018-09-01 08:55:00       4.0        15938      Home          1
116 2018-09-02 12:03:00      15.0        17016   Deposit          5
87  2018-09-01 03:08:00      10.0        17016      Home          1
565 2018-09-01 06:30:00       5.4        17022  Withdraw          5
909 2018-09-01 01:14:00       9.0        17022      Home          1
642 2018-09-03 23:26:00       4.0        17126      Home          5
26  2018-09-01 00:22:00      10.5        17126   Deposit          1
16  2018-09-01 01:29:00       3.0        17508      Home          1
250 2018-09-01 10:08:00      16.2        17508  Withdraw          5
265 2018-09-01 00:35:00      14.0        17630   Journal          1
805 2018-09-01 08:46:00      14.4        17630  Withdraw          5
488 2018-09-01 14:51:00       9.0        17753   Deposit          5
504 2018-09-01 01:39:00      15.0        17753   Deposit          1
495 2018-09-02 05:11:00      10.0        19845      Home          1
363 2018-09-02 19:12:00       8.0        19845   Journal          5

In [7]:
 #avg number of page visits daily for member
avg_visits_df = df.groupby(['Member Code','DateTime'])['visit_num'].mean()
avg_visits_df

Member Code  DateTime
10340        2018-09-01 06:31:00     1.0
             2018-09-01 11:13:00     2.0
             2018-09-01 11:57:00     3.0
             2018-09-01 13:35:00     4.0
             2018-09-01 18:14:00     5.0
                                    ...
19845        2018-09-07 07:50:00    24.0
             2018-09-07 13:08:00    25.0
             2018-09-07 13:14:00    26.0
             2018-09-07 20:19:00    27.0
             2018-09-07 22:50:00    28.0
Name: visit_num, Length: 992, dtype: float64

In [8]:
#stat difference between duration of visits on deposits and withdrawal page
#Null Hypothesis - 2 independent samples(duration of visits on deposits and withdrawal page) are identical by default 
#ie: there is no statistical difference between duration on deposits and withdrawal page

deposits_duration = df[df['Page']=='Deposit']['Duration'].values
withdrawal_duration = df[df['Page']=='Withdraw']['Duration'].values

In [9]:
# If we observe a large p-value, for example larger than 0.05 then we cannot reject the null hypothesis of identical average scores
N = len(df)
a = deposits_duration
b = withdrawal_duration
t, p = stats.ttest_ind(a,b)
print("t = " + str(t))
print("p = " + str(p))
# we can reject Null Hypothesis since p=0.60 means, there is significant statistical difference duration on deposits and withdrawal page

t = -0.5123015720755959
p = 0.6088367417543321

In [10]:
# probability of deposit>>>withdraw and Home>>>deposit on the same day for a user

In [11]:
kk = pd.DataFrame(df.groupby(['Member Code','DateTime'],as_index=False)['visit_num'].sum()) 
pp = pd.merge(kk.drop(columns=['visit_num']),df[['Member Code','DateTime','Page']],on=['Member Code','DateTime'],how='inner').set_index(['Member Code','DateTime'])
pp.head()

                                    Page
Member Code DateTime
10340       2018-09-01 06:31:00     Home
            2018-09-01 11:13:00  Journal
            2018-09-01 11:57:00     Home
            2018-09-01 13:35:00  Deposit
            2018-09-01 18:14:00  Deposit

In [12]:
def calcuate_probability(newdf):
    visit_order = []
    home_deposit = []

    for j,i in enumerate(new_df.iterrows()):
        count = 0
        page = i[1]['Page']
        
        visit_order.append(page)
        
        if len(visit_order)>2:

            if page == 'Deposit'and visit_order[-2]=='Home':  
                
                home_deposit.append(page)
                count += 1


        prob = len(home_deposit)/(j+1)

    print('Probability of Home>>>deposit ',round(prob*100,2))

In [13]:
def calcuate_probab(newdf):
    visit_order = []
    home_deposit = []

    for j,i in enumerate(new_df.iterrows()):
        count = 0
        page = i[1]['Page']
        
        visit_order.append(page)
        
        if len(visit_order)>2:

            if page == 'Deposit'and visit_order[-2]=='Withdraw':  
                
                home_deposit.append(page)
                count += 1


        prob = len(home_deposit)/(j+1)

    print('Probability of Deposit>>>Withdraw ',round(prob*100,2))

In [14]:
for member_code, new_df in pp.groupby(level=0):
    print('Member Code : ',member_code)
    calcuate_probability(new_df)
    calcuate_probab(new_df)

Member Code :  10340
Probability of Home>>>deposit  7.14
Probability of Deposit>>>Withdraw  0.0
Member Code :  10785
Probability of Home>>>deposit  7.27
Probability of Deposit>>>Withdraw  3.64
Member Code :  11038
Probability of Home>>>deposit  5.71
Probability of Deposit>>>Withdraw  0.0
Member Code :  11079
Probability of Home>>>deposit  10.45
Probability of Deposit>>>Withdraw  2.99
Member Code :  12063
Probability of Home>>>deposit  7.59
Probability of Deposit>>>Withdraw  5.06
Member Code :  12846
Probability of Home>>>deposit  7.29
Probability of Deposit>>>Withdraw  1.04
Member Code :  13390
Probability of Home>>>deposit  7.84
Probability of Deposit>>>Withdraw  1.96
Member Code :  13596
Probability of Home>>>deposit  18.06
Probability of Deposit>>>Withdraw  1.39
Member Code :  13769
Probability of Home>>>deposit  10.0
Probability of Deposit>>>Withdraw  0.0
Member Code :  14942
Probability of Home>>>deposit  8.54
Probability of Deposit>>>Withdraw  0.0
Member Code :  15143
Probability of Home>>>deposit  6.82
Probability of Deposit>>>Withdraw  4.55
Member Code :  15938
Probability of Home>>>deposit  0.0
Probability of Deposit>>>Withdraw  0.0
Member Code :  17016
Probability of Home>>>deposit  3.03
Probability of Deposit>>>Withdraw  3.03
Member Code :  17022
Probability of Home>>>deposit  8.82
Probability of Deposit>>>Withdraw  1.96
Member Code :  17126
Probability of Home>>>deposit  9.09
Probability of Deposit>>>Withdraw  0.0
Member Code :  17508
Probability of Home>>>deposit  4.65
Probability of Deposit>>>Withdraw  2.33
Member Code :  17630
Probability of Home>>>deposit  11.29
Probability of Deposit>>>Withdraw  3.23
Member Code :  17753
Probability of Home>>>deposit  13.19
Probability of Deposit>>>Withdraw  0.0
Member Code :  19845
Probability of Home>>>deposit  10.71
Probability of Deposit>>>Withdraw  0.0